<label for="user_login">User Name</label><br/>
<span id="user_login">{{username}}</span><br/>
<label for="id_url">Email</label><br/>
<span id="id_url">{{email}}</span><br/>
<label for="first_name">First Name</label><br/>
<span id="first_name">{{first_name}}</span><br/>
<label for="last_name">Last Name</label><br/>
<span id="last_name">{{last_name}}</span><br/>
<label for="nick_name">Nick Name</label><br/>
<span id="nick_name">{{nick_name}}</span><br/>
<hr/>
<a href="#/profile/edit">edit</a> | <a id="back" href="#">back</a>

